apiVersion: v1
kind: Namespace
metadata:
  name: cisco-react-1324-ns
  
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cisco-react-deployment
  namespace: cisco-react-1324-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: back-end
          image: 792373136340.dkr.ecr.us-east-2.amazonaws.com/cisco_pov:2c79593d1daac5d25e02381e6d8a04d1a14983cb

---
#Service
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: cisco-react-label
  name: cisco-react-service
  namespace: cisco-react-1324-ns
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: web
  sessionAffinity: None
  type: LoadBalancer

---
